
/* 1 - integração */
h1{
    color: blue;
}

/* 2 - ID */
#title{
    color: green;
}

/* 3 - Classes */
.text{
    color:black; 
}

/* 4 -background */
.background{
    background-color: brown;
}

/* 5 - Dois elementos, uma regra */
.variavel, .tittle-small{
    color:aqua; 
}

.tittle-small{
    font-size: 25px;
}

/* 6 - background image */
.background-image{
    background-image: url("../img/composicao-da-atmosfera-da-terra-2.jpg");
    padding: 100px;
    color:blueviolet;
}

/* 7 largura e altura */
#width-height{
    width: 200px;
    height: 100px;
    background-color: black;
}

/* 8 padding */
#padding{
    background-color: brown;
    padding: 20px;
}

/* 9 Margin */
#margin{
    width: 200px;
    height: 100px;
    background-color: green;
}

/* 10 Border */
#border{
    border: 3px solid red;
    width: 200px;
    height: 100px;
    padding: 40px;
    margin: 30px;
}

/* 10 Border radius */
#border-radius{
    width: 200px;
    height: 200px;
    background: red;
    border: 2px solid blue;
    border-radius: 10px;

}

/* 11 - cores */
#rgb, #hsl, #hex{
    width:50px;
    height:50px;
    margin:10px;
}

#hex{
    background-color: #3d9c38;
}

#rgb{
    background-color: rgb(145, 36, 115);
}

#hsl{
    background-color: hsl(99, 24%, 44%);
}

/* 12 - Alinhamento */
#center{
    text-align:center;
}

/* 13- Decoration */
#underline{
    text-decoration: underline;
}

#line{
    text-decoration: line-through;
}

#sem-underline{
    text-decoration: none;
}


/* 14 - FONT SIZE */
#font-pequena{
    font-size: 10px;
}

/* 15 - transform */
#upper{
    text-transform: uppercase;
}

#lower{
    text-transform: lowercase;
}

/* 16 - font family */
#serif{
    font-family: Georgia;
}

#sans-serif{
    font-family: helvetica;
}

#cursive{
    font-family: cursive;
}

/* 17 - display */
.inline{
    width: 50px;
    height:50px;
    background-color: red;
    margin: 10px;
    display: inline-block;
}

.block{
     width: 50px;
    height:50px;
    background-color: green;
    margin: 10px;
    display: block;
    
}

/*18 - ocultando elemento */

#none{
    display: none;
}

/* 19 - position */
#relative,
#absolute,
#fixed {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#relative{
    background-color: blueviolet;
    position: relative;
    top: 50px;
    left: 20px;
}

#absolute{
    background-color: #321;
    position:absolute;
     top: 50px;
    right: 50px;
}

#fixed{
    background-color: #455;
    position:fixed;
    top: 100px;
    left: 45px;
}

/* 20 - relative com absolute */ 

#relative-2{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    position: relative;
}

#absolute-1, #absolute-2{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;

}

#absolute-1{
    top: 10px;
    left: 10px; 
}

#absolute-2{
    bottom: 10px;
    right: 10px; 
}













